body {
  margin-top: 75px;
  padding-bottom: 75px;
}


a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

/* mouse over link */
a:hover {
    text-decoration: underline;
    color: #00CCFF;
}


.style-damniam{
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    transition: 0.25s;
    line-height: 16px;
    border-radius: 0px;
    padding: 15px;
    margin-top: 25px;
}


.style-damniam:hover{
    box-shadow: 0 0 20px 0 rgba(10, 10, 10, 0.4);
}
.nav-style-damniam{
    background-color: #fff;
    color: #333;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
}



.nav-font{
	font-size: 200%;
    font-family: 'OldPress';
  /* font-family: 'Love Ya Like A Sister', cursive; */
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Special Elite', cursive; */
}

.jumbo-font{
        font-family: 'OldPress';
  /* font-family: 'Love Ya Like A Sister', cursive; */
}

.blocksatz {
    text-align: justify;
}

@font-face
{
font-family: "OldPRess";
src: local("OldPress"),
url("Old_Press.ttf")
format("TrueType")
}
