// #content
$layout_width: 90rem;
$content_padding: 0rem;
// #breakpoints
$max_width_tablet: 65rem;
$max_width_phone: 35rem;
// #cards
$card_margin: 1rem;
$card_padding: 1rem;
$card_background: rgba(234,241,249,0.77);
$card_border_radius: 0.8rem;
// #pics
$pic_shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, .2);
// #colors
$accent_color: rgb(74,151,203);
$complement_color: rgb(234, 241, 249);
$font_color: rgb(50,50,50);
// #head
$head_height: 3rem;
// ----------------------

@import "normalize";
@import "location_icon";
/*
@font-face {
    font-family: 'Bonoveno';
    src: url("/static/BonvenoCF-Light.woff") format("woff"),
        url("/static/BonvenoCF-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Caviar';
    src: url("/static/CaviarDreams.woff") format("woff"),
        url("/static/CaviarDreams.ttf") format("truetype");
}
@font-face {
    font-family: 'Jost';
    src: url("/static/Jost-300-Light.woff") format("woff"),
        url("/static/Jost-300-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Fira Sans Condensed';
    src: url("/static/FiraSansCondensed-Light.woff") format("woff"),
        url("/static/FiraSansCondensed-Light.ttf") format("truetype");
}
*/
@font-face {
    font-family: 'Quicksand';
    font-display: swap;
    src: url("/static/Quicksand-Light.woff") format("woff"),
        url("/static/Quicksand-Light.ttf") format("truetype");
}
* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color: $font_color;
    box-sizing: border-box;
}
a {
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" style="font-size: 45;"><text y="40" x="-5">🔪</text></svg>') 45 50, auto;
}
strong{
    font-weight: bold;
}
.head {
    z-index: 9;
    width: 100%;
    height: $head_height;
    position: fixed;
    color: $accent_color;
    background: $complement_color;
    box-shadow: 0 0 1rem 0rem $accent_color;
    border-radius: 0 0 $card_border_radius $card_border_radius;
    &  .menu_button {
        font-size: calc(#{$head_height} *2/3);
        width: calc(5* #{$head_height});
        line-height: $head_height;
        color: $accent_color;
        padding-left: 1rem;
        &:hover {
            cursor: pointer;
        }
        &:active {
            background: $accent_color;
            color: $complement_color;
            cursor: pointer;
        }
    }
}

.menu {
    z-index: 10;
    width: calc(5* #{$head_height});
    max-height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: $complement_color;
    border-radius: $card_border_radius;
    position: fixed;
    top: calc(#{$head_height}*1.1);
    transition: max-height 1s ease;
    box-shadow: 0.2rem 0.2rem 1rem -0.2rem $accent_color;
    a {
        color: $accent_color;
        display: block;
        text-decoration: none;
        padding: 0.6rem 6rem 0.6rem 3rem;
        font-size: calc(#{$head_height} / 2);
        &:active, &:hover {
            background: $accent_color;
            color: $complement_color;
            cursor: pointer;
        }
    }
}

.bg-img {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: url(/static/bg.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    max-width: $layout_width;
    padding-left: $content_padding;
    padding-right: $content_padding;
    margin: auto;
    clear: both;
    &:nth-child(2){
        padding-top: $head_height;
    }

}
.card {
    float: left;
    padding: $card_padding;
    background: $card_background;
    margin: $card_margin;
    border-radius: $card_border_radius;
    overflow: hidden;
    box-shadow: 0.1rem 0.1rem 1rem 0rem $accent_color;
    img {
        width: 100%;
        box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    }
    p {
        word-wrap: break-word;
        text-align: justify;
        line-height: 1.4rem;
        font-size: 0.9rem;
        white-space: pre-line;
    }
    .button {
        float: right;
        margin-bottom: 1rem;
        margin-left: 1rem;
        border: 0;
        background: $accent_color;
        color: $complement_color;
        padding: 0.5rem 1rem;
        border-radius: $card_border_radius;
        text-decoration: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
        &+hr {
            clear: right;
            margin-top: 4rem;
        }
    }
    hr {
        border: 0;
        background: $accent_color;
        width: 100%;
        height: 0.3rem;
        border-radius: $card_border_radius;
    }
    h4 {
        margin: 0;
        font-size: 1.7rem;
        clear: right;
    }
    ul {
        width: 100%;
        padding: 0;
        list-style: none;
        li {
            margin-bottom: 0.5rem;
            margin-right: 1rem;
            h5 {
                display: block;
                font-size: 1rem;
                margin: 0;
            }
            span {
                font-size: 0.8rem;
            }
            a {
                text-decoration: none;
            }
            .location {
                float: right;
                // margin-right: $card_margin;
                margin-right: -1rem;
                margin-top: -1rem;
                text-decoration: none;
            }
        }     
    }
    iframe {
        width: 100%;
    }
    iframe:nth-child(0n+1) {
        height: 31rem;
    }
}
.pic {
    padding: 0;
	position: relative;
    box-shadow: $pic_shadow;
    p {
		width: 100%;
		background: rgba(0, 0, 0, 0.2);
		line-height: 1.9rem;
        font-size: 0.8rem;
		padding-right: 1rem;
		text-align: right;
		color: white;
		bottom: 0;
		position: absolute;
		margin: 0;
    }
}
.hafti {
    width: calc(100% - 2* #{$card_margin});
    p {
        font-size: 0.5rem;
        line-height: 0.7rem;
    }
    hr {
        height: 0.2rem;
    }
}
.notify {
    width: calc(100% - 2* #{$card_margin});
    background: pink;
    font-size: 1rem;
    line-height: 1.9rem;
    em {
        font-style: normal;
        font-size: 1.4rem;
    }
    a {
        text-decoration: none;
    }
}



@mixin grid($cols:4, $col_offset:0, $is_sqared:false) {
    @if $is_sqared {
        width: calc((100vw - 2*#{$content_padding})/#{$cols} - (2* #{$card_margin}));
        height: calc((100vw - 2*#{$content_padding})/#{$cols} - (2* #{$card_margin}));
    } @else {
        width: calc(100% / #{$cols} - (2* #{$card_margin}));
    }
    &:nth-child( #{ceil($cols)}n + #{$col_offset}  ) {
        clear: left;
    }
}

// phone
@media (max-width: $max_width_phone ) {
    .contact, .band_pic, .band_text, .feed, .band_pic, .band_text {@include grid(1,1, false);}
    .pic {@include grid(2,0, true)}
}
// tablet
@media (min-width: $max_width_phone) and (max-width: $max_width_tablet) {
    .feed {@include grid(2,1, false);}
    .band_pic, .band_text { @include grid(2, 1);}
    .contact { @include grid(3,1);}
    .pic {@include grid(4,0, true)}
}
// big viewport
@media (min-width: $max_width_tablet) and (max-width: $layout_width) {
    .feed {@include grid(4,1, false);}
    .band_pic { @include grid(3/2);}
    .band_text { @include grid(3);}
    .contact { @include grid(3,1);}
    .pic {@include grid(8,0, true)}
}
// huge viewport
@media (min-width: $layout_width) {
    .feed {@include grid(4,1, false);}
    .band_pic { @include grid(3/2);}
    .band_text { @include grid(3);}
    .contact { @include grid(3,1);}
    .pic { 
        width: calc((100%/8) - (2* #{$card_margin}));
       // quirk for squared pics
       height: calc( (#{$layout_width} - (2* #{$content_padding}))/8 - (2* #{$card_margin}));
    } 
}
