$damn_color_rgb: 76,152,200;

$damniam_color: rgb(76,152,200);

$damniam_font_color: rgb(50,50,50);
$damniam_menu_button_color: $damniam_color;

// $color-primary;
// $color-primary-dark;
$color-accent: $damn_color_rgb;
// $color-primary-contrast;
// $color-accent-contrast;

@import "material-design-lite";
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body , h4 {
    font-family: 'Raleway', sans-serif;
}

.damniam_content {
    // max-width: 100rem;
    // margin: auto;
}

.damniam-card p {
    word-wrap: break-word;
}

.damniam_drawer {
    background: $damniam_color;
    border: 0;
}
.damniam_drawer * {
    color: $damniam_font_color !important;
}

.mdl-layout__header .mdl-layout__drawer-button i {
    color: $damniam_menu_button_color;
}

button {
    background: $damniam_color;
}

.damniam-card.mdl-card {
    width: auto;
    height: auto;
    margin: 10px;
}
.damniam-card {
    background: rgba(255,255,255,0.77);
}
.damniam-card *{
    color: $damniam_font_color;
    // background: url('../img/text-bg.jpg') center / cover;
}
.damniam-card > .mdl-card__title {
    // font-family: 'PT Sans Narrow', sans-serif;
    text-align: justify;
    color: $damniam_font_color;
}

/*  Gelbe Balken für den Sticker  */
.damniam-box {
    width: 100%;
    height: 20px;
    background-color: $damniam_color;
}
.damniam-bar {
    width: 100%;
    height: 5px;
    background-color: $damniam_color;
}
.damniam_layout {
    background: url('../img/bg.jpg') center / cover;
}
