<div class="card feed">
    <h4>SHOWS</h4>
    <hr>
    <ul id="termine" style="width: 100%;">
        {% if dates|length == 0 %}
           tba. 
        {% else %}
            {% for date in dates %}
                <li>
                    <h5>{{ date.venue.city }}</h5>
                    <span>
                        <a href="{{ date.url}}" rel="noopener" target="_blank">
                            {{ date.datetime }} @ {{ date.venue.name }}
                        </a>
                    </span>
                    <a href="http://maps.google.com/?q={{date.venue.latitude}},{{date.venue.longitude}}" rel="noopener" target="_blank">
                        <div class="location"></div>
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>
