<!DOCTYPE html>
<html lang="de">
    <head>
        <title>DAMNIAM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#4a97cb"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='damniam.css') }}">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-192.png') }}" sizes="192x192">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='/manifest.json') }}">
        {% include 'jsonld.html' %}
    </head>
    <body>
        <div class="bg-img"></div>
        <div>
            <div class="head">
                <div class="content">
                    <style>
                        #menu_button:checked ~ #menu {
                            max-height: 100rem;
                        }
                        #menu_button {
                            display: none;
                        }
                    </style>
                    <input type="checkbox" id="menu_button">
                    <label class="menu_button" for="menu_button">≡ DAMNIAM</label>
                    <div class="menu" id="menu">
                        <a href="#news">NEWS</a>
                        <a href="#band">BAND</a>
                        <a href="#pics">PICS</a>
                        <a target="_blank"
                           rel="noopener"
                           href="https://de.kingsroadmerch.com/mad-drunken-monkey-records/search/?search=damniam">
                            SHOP
                        </a>
                        <a href="#contact">CONTACT</a>
                        <hr>
                        <a target="_blank" rel="noopener" href="https://facebook.com/DAMNIAMOFFICIAL">FACEBOOK</a>
                        <a target="_blank" rel="noopener" href="https://instagram.com/damniamofficial/">INSTAGRAM</a>
                        <a target="_blank" rel="noopener" href="https://twitter.com/damniamofficial">TWITTER</a>
                        <a target="_blank" rel="noopener" href="https://www.youtube.com/user/DAMNiAM/">YOUTUBE</a>
                        <a target="_blank" rel="noopener" href="https://open.spotify.com/artist/6BInGIy0uhn9nZkZbSXlS1">SPOTIFY</a>
                        <a target="_blank" rel="noopener" href="https://damniam.bandcamp.com/">BANDCAMP</a>
                    </div>
                </div>
            </div>

            <div class="content" id="news">
                {% include 'bandsintown.html' %}
                {% include 'player_alt.html' %}
            </div>

            <div class="content" id="pics">
                {% include 'instagram.html' %}
            </div>
            {% include 'band.html' %}
        </div><!-- layout -->
    </body>
</html>
