<!DOCTYPE html>
<html lang="de">
    <head>
        <title>DAMNIAM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#4a97cb"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='damniam.css') }}">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-192.png') }}" sizes="192x192">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="manifest" href="{{ url_for('serve_manifest') }}">
        {% include 'jsonld.html' %}
    </head>
    <body>
        <div class="bg-img"></div>
        <div>
            <div class="head">
                <div class="content">
                    <div class="menu_button" id="menu_button">≡ DAMNIAM</div>
                    <div class="menu" id="menu">
                        <a href="#news">NEWS</a>
                        <a href="#band">BAND</a>
                        <a href="#pics">PICS</a>
                        <a 
                           rel="noopener"
                           href="https://damniam.bigcartel.com/">
                            SHOP
                        </a>
                        <a href="#contact">CONTACT</a>
                        <hr>
                        <a target="_blank" rel="noopener" href="https://facebook.com/DAMNIAMOFFICIAL">FACEBOOK</a>
                        <a target="_blank" rel="noopener" href="https://instagram.com/damniamofficial/">INSTAGRAM</a>
                        <a target="_blank" rel="noopener" href="https://twitter.com/damniamofficial">TWITTER</a>
                        <a target="_blank" rel="noopener" href="https://www.youtube.com/user/DAMNiAM/">YOUTUBE</a>
                        <a target="_blank" rel="noopener" href="https://open.spotify.com/artist/6BInGIy0uhn9nZkZbSXlS1">SPOTIFY</a>
                        <a target="_blank" rel="noopener" href="https://damniam.bandcamp.com/">BANDCAMP</a>
                    </div>
                </div>
            </div>

            <div class="content" id="news">
                {% include 'bandsintown.html' %}
                {% include 'player_alt.html' %}
            </div>


            <div class="content" id="band">
                <div class="card band_pic">
                    <hr>
                    <h4>DAMNIAM</h4>
                    <hr>
                    <img src="{{ url_for('static', filename='band.jpg') }}" alt="DAMNIAM">
                    <hr>
                </div>

                <div class="card band_text">
                    <hr>
                    <p>
                    Man sieht es den Milchgesichtern nicht an, aber DAMNIAM gibt es seit mittlerweile zehn Jahren. Pünktlich zum Jubiläum gibt es das dritte Album Planet Piss. Die im Hamburger Hertzwerk-Studio bei Olman Wiebe (u.a. Captain Planet, Smile and Burn, ZSK) entstandene Platte lotet das Soundspektrum der Band noch weiter aus: Die Punkrocknummern sind räudiger, die Ohrwürmer eingängiger, die ruhigen Songs gänsehautiger, ohne dabei den Trademark-Sound der Band zu verlieren. Die insgesamt abwechslungsreicheren Songs wurden bereits ausgiebig live getestet, zuletzt unter anderem als Support für Teenage Bottlerocket, Satanic Surfers und the Buzzcocks. Nachdem das letzte Album der Münsteraner hinsichtlich der Texte mehrheitlich gut gelaunt war, thematisiert Planet Piss eine Gesellschaft zwischen digitaler Selbstdarstellung, neoliberalem Leistungsdruck und politischem Rechtsruck. Da hilft dann manchmal nur Bier.
                    </p>
                    <hr>
                </div>
            </div>

            <div class="content" id="pics">
            </div>

            <div class="content" id="contact">
                <div class="card contact">
                    <form method="post" action="https://tinyletter.com/damniam" target="popupwindow" onsubmit="window.open('https://tinyletter.com/damniam', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"> 
                        <h4>
                            Subscribe to our newsletter!
                        </h4>
                        <hr>
                            <label style="
                                        float: left;
                                        font-size: 1.6rem;
                                        font-weight: bold;
                                        line-height: 2.6rem;
                                " for="email"> Email: </label>
                            <input style="
                                        border: 0.1rem solid #4a97cb;
                                        border-radius: 0.4rem;
                                        padding: 0.3rem;
                                        margin: 0.3rem;
                                        float: right;
                                        width: 14rem;
                                        max-width: 100%;
                            " type="email" id="email" name="email" value="" placeholder=" email@example.com ">
                            <p style="clear: both;"></p>
                            <button class="button" type="submit">SUBSCRIBE</button>
                    </form>        
                </div>
                <div class="card contact">
                    <hr>
                    <p>
                        <strong>Booking</strong><br>
                        <a href="mailto:booking@damniam.de">
                            booking@damniam.de
                        </a>
                    </p>
                    <hr>
                    <p>
                        <strong>Contact:</strong><br>
                        info@damniam.de<br>
                        DAMNIAM <br>
                        c/o Baldauf<br>
                        Kanalstr. 5<br>
                        48147 Münster<br>
                        Germany<br>
                        Earth<br>
                    </p>
                    <hr>
                </div>


                <div class="card contact">
                    <hr>
                    <p>
                        <strong>Impressum</strong>
                    </p>
                    <p>Angaben gemäß § 5 TMG</p>
                    <p>
                        Matthias Bergholz <br>
                        Elisabethstraße 10 <br>
                        44139 Dortmund <br>
                        E-Mail: info at damniam dot de <br>
                    </p>
                    <hr>
                    <a href="https://uberspace.de" target="_blank" style="color: black;">
                        <img src="{{ url_for('static', filename='badge-uberspace.png') }}" alt="uberspace logo" style="width: 100%; max-width: 10rem;">
                    </a>
                    <hr>
                </div>

            </div><!-- content -->


            <div class="content">
                <div class="card hafti">
                    <hr>
                        <p>
                            <strong>
                                Haftungsausschluss (Disclaimer)
                            </strong>
                        </p>
                        <p>
                            <strong>
                                Haftung für Inhalte
                            </strong>
                            <br>
                            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                        </p>
                        <p>
                            <strong>
                                Haftung für Links
                            </strong>
                            <br>
                            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                        </p>
                        <p>
                            <strong>
                                Urheberrecht
                            </strong>
                            <br>
                            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
                        </p>
                    <hr>
                </div>
            </div>
        </div><!-- layout -->
        <script async defer src="{{ url_for('static', filename='damniam_rest.js') }}"></script>
    </body>
</html>
