
<div class="card feed">
    <h4>MUSIC</h4>
    <hr>
    <h4>listen on:</h4>
    <br>
    <a href='https://soundcloud.com/damniamofficial/albums'
       class="button"
       rel="nooperner"
       style="float: left; clear: left;"
       target="_blank">
        SOUNDCLOUD
    </a>
    <br>
    <a href='https://open.spotify.com/artist/6BInGIy0uhn9nZkZbSXlS1'
       class="button"
       rel="nooperner"
       style="float: left; clear: left;"
       target="_blank">
        SPOTIFY
    </a>
    <br>
    <a href='https://damniam.bandcamp.com/'
       class="button"
       rel="nooperner"
       style="float: left; clear: left;"
       target="_blank">
        SOUNDCLOUD
    </a>
    <hr style="clear: left;">
</div>

