<div class="card feed">
    <h4>MUSIC</h4>
    <hr>
    <img src="{{ url_for('static', filename='bg.jpg') }}" />
    <h4>buy:</h4>
    <a href='https://www.amazon.de/Planet-Piss-Damniam/dp/B0765RLQGL'
       class="alt button"
       rel="noopener"
       target="_blank">
        AMAZON
    </a>
    <a href='https://de.kingsroadmerch.com/mad-drunken-monkey-records/view/?id=11951'
       class="button"
       rel="noopener"
       target="_blank">
        MAD DRUNKEN MONKEY
    </a>
    
    <h4>listen:</h4>
    <br>
    <a href='https://soundcloud.com/damniamofficial/albums'
       class="alt button"
       rel="noopener"
       target="_blank">
        SOUNDCLOUD
    </a>
    <a href='https://open.spotify.com/artist/6BInGIy0uhn9nZkZbSXlS1'
       class="alt button"
       rel="noopener"
       target="_blank">
        SPOTIFY
    </a>
    <a href='https://damniam.bandcamp.com/'
       class="alt button"
       rel="noopener"
       target="_blank">
        SOUNDCLOUD
    </a>
    <hr>
</div>

