<div class="card feed">
    <h4>MUSIC</h4>
    <hr>
    <img src="{{ url_for('static', filename='bg.jpg') }}" />
    <h4>
        available now
    </h4>
    <a href='https://itunes.apple.com/de/album/planet-piss/1297233933'
       class="alt button"
       rel="noopener"
       target="_blank">
        ITUNES
    </a>
    <a href='https://www.amazon.de/Planet-Piss-Damniam/dp/B0765RLQGL'
       class="alt button"
       rel="noopener"
       target="_blank">
        AMAZON
    </a>
    
    <a href='https://soundcloud.com/damniamofficial/albums'
       class="alt button"
       rel="noopener"
       target="_blank">
        SOUNDCLOUD
    </a>
    <a href='https://open.spotify.com/artist/6BInGIy0uhn9nZkZbSXlS1'
       class="alt button"
       rel="noopener"
       target="_blank">
        SPOTIFY
    </a>
</div>

